<div>
    <div class="card">
        <h3>At a glance</h3>
        <div class="row">
            <div class="col-sm-6">
                <h5 class="align-center">24</h5>
                <h6>Customers in pipeline</h6>
            </div>
            <div class="col-sm-6">
                <h5>$5.8M</h5>
                <h6>Total forecasted budget</h6>
            </div>
        </div>
    </div>
</div>