<Page::Header @title="Dashboard" />
<Page::Content>
    <div class="row">
        <div class="col-sm-4">
            <Overview/>
        </div>
        <div class="col-sm-8">
            <TopProspects/>
        </div>
    </div>
</Page::Content>